/*=============================================================
    Authour URI: www.binarycart.com
    License: Commons Attribution 3.0

    http://creativecommons.org/licenses/by/3.0/

    100% To use For Personal And Commercial Use.
    IN EXCHANGE JUST GIVE US CREDITS AND TELL YOUR FRIENDS ABOUT US
   
    ========================================================  */
/*==============================================
    GENERAL  STYLES    
    =============================================*/

.align-left i {
  margin-left: -800px !important;
  display: block; /* Asegura que el texto ocupe toda la línea */
}

body {
  font-family: "Open Sans", sans-serif;
}

h2 {
  font-size: 48px; /* Ajusta el tamaño del texto según sea necesario */
  color: rgb(33, 0, 0); /* Color del texto */
  text-align: center; /* Centra el texto horizontalmente */
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.3); /* Añade un sombreado sutil al texto */
  margin: 20px 0; /* Ajusta el margen superior e inferior si es necesario */
}
h4 {
  padding-top: 10px;
}
.square-btn-adjust {
  border: 0px solid transparent;
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  border-radius: 0px;
}
p {
  font-size: 16px;
  line-height: 25px;
  padding-top: 20px;
}

/*==============================================
    UI ELEMENTS STYLES     
    =============================================*/
.btn-circle {
  width: 50px;
  height: 50px;
  padding: 6px 0;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  border-radius: 25px;
  text-align: center;
  font-size: 12px;
  line-height: 1.428571429;
}

.btn-danger {
  color: #fff;
  background-color: #007a7a !important;
  border-color: #453a3a !important;
  border-radius: 4px solid 2;
}

.btn-danger:hover {
  color: #edffff; /* Nuevo color del texto */
  background-color: #333; /* Nuevo color de fondo */
  border-color: #ffffff; /* Nuevo color del borde */
}
.text-center {
  text-align: center;
}

.service-row {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 30px; /* Espacio entre filas */
}

.service-box {
  background: #fff;
  border-radius: 10px;
  box-shadow: 0 12px 12px rgba(0, 0, 0, 0.5);
  padding: 20px;
  text-align: center;
  flex: 1 1 30%; /* Ocupa aproximadamente el 30% del ancho del contenedor */
  margin: 15px; /* Espacio entre columnas */
  transition: transform 0.3s, box-shadow 0.3s;
  margin-top: 50px;
}

.service-box:hover {
  transform: translateY(-30px);
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.8);
}

.service-icon {
  font-size: 100px;
  color: #394b43b5;
  margin-bottom: 15px;
}

.service-box h3 {
  font-size: 24px;
  margin-bottom: 15px;
  color: #333;
}

.service-box p {
  font-size: 16px;
  line-height: 1.6;
  color: #666;
}

.service-box h4 {
  font-size: 20px;
  margin: 10px 0;
  color: #000;
}

.service-box button {
  margin-top: 10px;
}

/* Color del icono de FontAwesome */
.fa {
  color: #ffffff;



}#monthly-plan-btn, #semestral-plan-btn, #anual-plan-btn {
  background-color: #17433b; 
  color: white; /* Color del texto blanco */
  border: 2px solid black; /* Borde de 2px de grosor y color negro */
  border-radius: 3px; /* Bordes redondeados */
  padding: 10px 20px; /* Espaciado interno */
  font-size: 16px; /* Tamaño de fuente */
  cursor: pointer; /* Cambia el cursor al pasar sobre el botón */
  transition: background-color 0.3s ease, border-color 0.3s ease; /* Transición suave para el cambio de color de fondo y borde */
}

/* Estilo para el estado hover de los botones */
#monthly-plan-btn:hover, #semestral-plan-btn:hover, #anual-plan-btn:hover {
  background-color: #058989; /* Color de fondo más oscuro al pasar el ratón */
  border-color: #000000; /* Color de borde más oscuro al pasar el ratón */
  color: rgb(255, 255, 255);
}

