<div id="header-left">
    <div id="icon-container">
        <i id="i-header-menu" class="fas fa-bars"></i>
    </div>
    <div id="title-container">
        <h3 id="typewrighting">ASTRACLOUD ©</h3>
    </div>
</div>

<div id="header-right">
    <div id="user-photo">
        <img id="img-user-photo" src="img/1.jfif"> 
    </div>

    <div id="user-info">
        <label id="label-user-name">User</label>
        <label id="label-user-role">Role</label>
    </div>
    <div id="user-icons">
        <div class="user-icon">
            <i id="icon-language" class="fas fa-globe-americas"> </i>
        </div>
        <label id="label-language"></label>

        <div class="user-icon">
            <i id="icon-theme" class="fas fa-palette">Theme</i>
        </div>

        <div class="user-icon">
            <i id="icon-logout" class="fas fa-sign-out-alt"> LogOut</i>
        </div>
    </div>
</div>
<link rel="stylesheet" href="components/header/header.css">