<link rel="stylesheet" href="components/footer/footer.css">
<footer id="footer">
    <div class="footer-top">
        <div class="container">
            <div class="row">
                <div class="footer-col">
                    <h4> MineControl ®</h4>
                     <p class="additional-t">Tecnología avanzada para minería inteligente</p>
                </div>
                <div class="footer-col">
                    <h4>Conoce <i>AstraCloud ™</i></h4>
                    <ul>
                        <li><a href="nosotros.html">Nosotros</a></li>
                        <li><a href="vision.html">Nuestra visión</a></li>
                        <li><a href="servicios.html">Servicios</a></li>
                        <li><a href="contacto.html">Contáctanos</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>Medios de contacto</h4>
                    <ul>
                        <li><a href="mailto:AstraCloud@gmail.com">info@astracloud.com</a></li>
                        <li><a href="tel:+1234567890">+664 234 567 820</a></li>
                    </ul>
                </div>
                <div class="footer-col">
                    <h4>¡Siguenos!</h4>
                    <div class="social-links">
                        <a href=""><i class="fab fa-facebook-f"></i></a>
                        <a href=""><i class="fab fa-twitter"></i></a>
                        <a href=""><i class="fab fa-linkedin-in"></i></a>
                        <a href=""><i class="fab fa-instagram"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="footer-bottom">
        <div class="container">
            <div class="row">
                <div class="col">
                    <p>&copy; All rights reserved ~ 5A-TSU-DSM ~ AstraCloud ™ - Mine Monitoring ®</p>
                </div>
            </div>
        </div>
    </div>
</footer>