<div id="page-wrapper">
    <div id="page-inner">
        <div class="row">
            <div class="col-md-12">
                <h2>✰ Panel de administrador ✰</h2>
                <h5>Welcome <span id="user-name">Loading...</span>. Love to see you back. </h5>
                <!-- Sección Minas -->
                <div id="minas-section">
                    <h3>Minas</h3>
                    <!-- Botón para obtener todas las minas -->
                    <button onclick="getMinas()">Obtener Minasfuncion</button>
                    <button id="obtenerMinasBtn">Obtener Minasbtn</button>
                    <!-- Sección para mostrar las minas -->
                    <ul id="minas-list"></ul>
                    <!-- Sección para mostrar las minas -->
                    <div id="minas-list"></div>
                </div>
            </div>
        </div>
        <!-- ROW -->
        <hr />
        <div class="row">
            <!-- Panels go here -->
        </div>
        <!-- /ROW -->
        <hr />
        <div class="row">
            <!-- More panels and content go here -->
        </div>
        <!-- /ROW -->
    </div>
</div>