<!-- TOP BAR -->
<nav class="navbar navbar-default navbar-cls-top" role="navigation" style="margin-bottom: 0">
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#sidebar-menu">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="indexAdmin.html"><i>MineControl ®</i></a>
    </div>
    <div style="color: white; padding: 15px 50px 5px 50px; float: right; font-size: 16px;">
        <span id="user-name"></span>
        <a href="#" class="btn btn-danger square-btn-adjust" onclick="cerrarSesion()">Cerrar sesión</a>
    </div>
</nav>

<!-- SIDEBAR -->
<nav class="navbar-default navbar-side" role="navigation">
    <div class="collapse navbar-collapse" id="sidebar-menu">
        <ul class="nav" id="main-menu">
            <li class="text-center">
                <img src="assets/img/find_user.png" class="user-image img-responsive" />
            </li>
            <li>
                <a href="#" id="minas-toggle" data-toggle="collapse" data-target="#minas-menu">
                    <i class="fa fa-dashboard fa-3x"></i> Control de minas
                    <span class="fa arrow"></span>
                </a>
                <ul class="nav nav-second-level collapse" id="minas-menu">
                    <li><a href="sectoresAdmin.html">Minas y sectores</a></li>
                    <li><a href="sistemasEmbebidosAdmin.html">Sistemas embebidos</a></li>
                    <li><a href="sensoresAdmin.html">Sensores</a></li>
                </ul>
            </li>
            <li>
                <a href="empleadosAdmin.html"><i class="fa fa-desktop fa-3x"></i>  Empleados</a>
            </li>
            <li>
                <a href="alertasAdmin.html"><i class="fa fa-qrcode fa-3x"></i>    Alertas</a>
            </li>
            <li>
                <a href="informesAdmin.html"><i class="fa fa-bar-chart-o fa-3x"></i> Informes</a>
            </li>
            <li>
                <a href="provedoresAdmin.html"><i class="fa fa-square-o fa-3x"></i> Proveedores</a>
            </li>
        </ul>
    </div>
</nav>