
    <!-- Header -->
     


    <nav class="navbar navbar-expand-lg navbar-light shadow">
        
        <div class="container d-flex justify-content-between align-items-center">
            <a class="navbar-brand text-success logo h1 align-self-center" href="index.html">
                <img class="gog-logo" src="assets/img/astra.png" alt="AstraCloud Logo"class="cheve" onclick="redirigirIndex()">  
                
        </a> 
    <script>
                    function redirigirIndex() {
                      window.location.href = "index.php";
                    }
                    </script>
            <button class="navbar-toggler border-0" type="button" data-bs-toggle="collapse" data-bs-target="#templatemo_main_nav" aria-controls="templatemo_main_nav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
    
            <div class="collapse navbar-collapse" id="templatemo_main_nav">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item">
                        <a class="nav-link" href="index.html">| Inicio |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="nosotros.html">| Nosotros |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="vision.html">| Nuestra visión |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="servicios.html">| Servicios |</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="contacto.html">| Contáctanos |</a>
                    </li>

                    
                </ul>
            </div>
            
             <!-- Auth Buttons Container -->
    <div class="auth-buttons-container">
       <br>
    </div>
        
        </div>
    </nav>
