/* CSS THAT OUR PROFFESSOR PROVIDED TO US*/
/* Existing CSS */
.sidemenu-option {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    border-bottom: 1px solid var(--sideMenuBorder);
    cursor: pointer;
}

.sidemenu-icon {
    width: 32px;
    height: 32px;
    margin: 10px;
    background: var(--sideMenuBackground);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
}

.sidemenu-icon i {
    font-size: 16pt;
    color: var(--sideMenuIcon);
}

.sidemenu-text {
    flex-grow: 1;
    height: 20px;
    margin: 10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: #888; */
}

.sidemenu-text label {
    font-size: 12pt;
    color: var(--sideMenuTextColor);
    cursor: pointer;
}

.sidemenu-arrow {
    font-size: 12pt;
    color: var(--sideMenuArrow);
    cursor: pointer;
}

.submenu-container {
    display: none;
    flex-direction: column;
    background-color: rgb(64, 64, 64);
    padding: 10px;
    color: white;
}

.submenu-visible {
    display: flex;
}

.rotate-arrow {
    transform: rotate(180deg);
}

.submenu-option {
    padding: 5px 10px;
}

.submenu-option:hover {
    background-color: #7b7b7b;
}



/* CSS CON CLASS - HW*/
/* .sidemenu-option{
    background-color: #3a3a3a;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 10px;
}

.sidemenu-icon{
    width: 45px;
    height: 45px;
    background-color: #ccc;
    margin: 5px;
    border-radius: 10px;
    align-items: center;
}

.sidemenu-arrow{
    width: 45px;
    height: 45px;
    background-color: #ccc;
    margin: 5px;
}

.sidemenu-text{
    background-color: #e0e0e0;
    width: 150px;
    height: 40px;
    margin: 5px;
} */

/* IN CASE I NEED IT FOR LATER. I DID IT AS IDs INSTEAD OF CLASSES
#i-left{
    width: 45px;
    height: 45px;
    background-color: #ccc;
    margin: 5px;
}

#i-right{
    width: 45px;
    height: 45px;
    background-color: #ccc;
    margin: 5px;
}

#middle-label{
    background-color: #e0e0e0;
    width: 150px;
    height: 40px;
    margin: 5px;
}

#sidemenu-option{
    background-color: #3a3a3a;
    width: 100%;
    height: 40px;
    display: flex;
    align-items: center;
    padding: 10px;
} */