<div id="page-wrapper">
    <div id="page-inner">
      <div class="row">
        <div class="col-md-12">
            <h1>Detalles</h1>
            <div id="edit-sector">
                <p id="nombre">nombre: </p>
                <p id="status">status: </p>
                <button
                  hx-trigger="click"
                  hx-target="#edit-sector"
                  hx-get="components/empresa/sectores/formEditar.html"
                  hx-swap="outerHTML"
                >
                  Editar
                </button>
            </div>
            <script>
                const sector = JSON.parse(sessionStorage.getItem('sistemaEmbebido-details'));
                document.querySelector('#nombre').innerHTML += sector.nombre;
                document.querySelector('#status').innerHTML += sector.status;
            </script>
      </div>
    </div>
  </div>
</div>